body{
    background-color: #E5E5E5;
    font-family: 'Playfair Display', serif ;
    
}
.intro-text{
    background-image: url("https://www.paho.org/sites/default/files/styles/max_650x650/public/2021-01/covid-19-dna-1500x765.jpg?itok=Dt7V3vMp");
    background-color: #cccccc;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity : 0.8;
}

.intro-text{
    text-align: center;
    color: rgb(243, 243, 141);
    opacity: 50;
    position: relative;
}

.headings{
    text-align: center;
    background-color: #4C0027;
    border-radius: 2mm;
    color: wheat;
}

.img1{
    float:right;
    margin: 20px;
    width: 200px;
    border-radius: 5mm;
    height: 100px;
    opacity: 2;
}


.img2{
    float:left;
    margin: 20px;
    width: 200px;
    border-radius: 5mm;
    height: 100px;
    opacity: 2;
}

.txt1{
    float:left;
    margin: 20px;
}

.txt2{
    float:right;
    margin: 20px;
}



.tips{
    height: 100px;
    background-color: #cccccc;
    background-image: radial-gradient( #f1e2eb, #f3b078);
    align-items: center;
    border-style: dashed;
    border-width: medium;
    border-color: rgb(12, 12, 12);
    border-radius: 20px;
    padding: 5vh;
    
}

table, th, td{
    border: 1px solid black;
    border-radius: 2mm;
    background-color: rgb(12, 11, 12);
    margin-left: 150px;
}

th{
    background-color: #6b0239;
    color: whitesmoke;
    margin: 10px;
}

td{
    background-color: #f3cfe3;
    margin: 3px;
    text-align: center;
}

input {
    display: none;
}

label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #f3cfe3;
    border-radius: 3px;
    color: rgb(7, 7, 7);
    transition: ease .5s;
}

label:hover {
    background: #6b0239;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

  .footer{
      text-align: center;
      background-color: black;
      color: white;
  }

  .contact{
      color: blanchedalmond;
  }

  